/* Common CSS for fx app views */

/* X.509 v3 extensions */
.v3-extension-infobox {
  /*width: 100%;*/
  max-width: 600px;
  text-align: left;
  margin-left: calc(100% - width);
}

.v3-extension-infobox-item {
  margin-bottom: 1em;
}

.v3-extension-infobox-item-text {
  vertical-align: top;
  font-weight: 600;
}

.v3-extension-infobox-value-textarea {
  width: 100%;
  font-family: monospace;
}

.v3-extension-infobox-oid-input {
  display: inline-block;
}

.v3-asn1-preview-textarea {
  width: 100%;
  height: 10em;
  font-family: monospace;
}

.subject-altername-name-input {
  width: 100%;
  max-width: 1000px;
}

.subject-alternate-name-button {
  float: right;
}

.subject-alternate-name-textarea {
  width: 100%;
  height: 10em;
  font-family: monospace;
}

.authority-information-access-ul {
  list-style-type: none;
  width: 100%;
  max-width: 1000px;
  padding-left: 0px;
}

.authority-information-access-types {
  display: inline-block;
  width: 75px;
}

.authority-information-access-input {
  display: inline-block;
  width: calc(100% - 120px);
  max-width: 1000px;
}

.authority-information-access-button {
  display: inline-block;
}

.crl-distribution-points-ul {
  list-style-type: none;
  width: 100%;
  max-width: 1000px;
  padding-left: 0px;
}

.crl-distribution-points-types {
  display: inline-block;
  width: 75px;
}

.crl-distribution-points-input {
  display: inline-block;
  width: calc(100% - 120px);
  max-width: 1000px;
}

.crl-distribution-points-button {
  display: inline-block;
}

.certificate-policies-ul {
  list-style-type: none;
  width: 100%;
  max-width: 1000px;
  padding-left: 0px;
}

.basic-constraints, .key-usage, .extended-key-usage {
  text-align: left;
}

.emails-delimiter {
  position: relative;
  font-size: 10px;
  top: -15px;
}
