<div class="login-box">
	<div class="login-logo" ng-if="!guardianLogin"><p><img src="static/images/login-logo.png"></p></div>
	<div class="login-logo" ng-if="guardianLogin"><p><img src="static/images/login-guardian-logo.png"></p></div>
	<div class="login-box-body">
		<form>
			<div ng-switch="!loginMessage.error && (userRoles.pendingGroups.length > 0 || userRoles.authorizedGroups.length > 0)">
				<div ng-switch-when="true">
					<div>Pending Groups: <small ng-repeat="pendingGroup in userRoles.pendingGroups">{{pendingGroup}}</small></div>
					<div>Authorized Groups: <small ng-repeat="authorizedGroup in userRoles.authorizedGroups">{{authorizedGroup}}</small></div>
				</div>
				<div ng-switch-default>
					<p class="login-box-msg" ng-class="{'error-text': loginMessage.error}">{{loginMessage.text}}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="context-text">{{bindings.loginContextString}}</div>
				<div class="btn-group btn-block">
					<div class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!cookiesEnabled">
						<span class="pull-left">{{authTypeName}}</span>
						<span class="fa fa-caret-down pull-right"></span>
					</div>
					<ul class="dropdown-menu btn-block">
						<li ng-repeat="name in authDispNames track by $index" style="cursor: pointer;" ng-click="authTypeName=name;">&nbsp;{{name}}</li>
					</ul>
				</div>
			</div>
			<div class="form-group has-feedback" ng-if="authTypeName === authDispNames[0]">
				<input id="usernameInput" type="text" class="form-control" placeholder="Username" ng-model="$parent.username" ng-disabled="!cookiesEnabled">
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback" ng-if="authTypeName === authDispNames[0]">
				<input id="passwordInput" type="password" class="form-control" placeholder="Password" ng-disabled="!cookiesEnabled" ng-model="$parent.password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<button ng-click="signIn(authTypeName);" class="btn btn-block btn-flat sign-in-button" ng-disabled="!cookiesEnabled">Secure Login</button>
			<button ng-click="loginNow();" class="btn btn-block btn-flat" ng-show="(loginInProgress || !isMainLogin) && userRoles.authorizedGroups.length > 0">Login Now</button>
			<button class="btn btn-block btn-flat cancel-button" ng-click="cancelLogin()" ng-show="loginInProgress">
				<a href="#" class="cancel-link">Cancel</a>
			</button>
		</form>
	</div>
</div>
