/*
 * Skin: Blue
 * ----------
 */
.skin-fx .navbar-static-top {
  min-width: 25em;
}
.skin-fx .main-header .navbar {
  background-color: #1e1e1e;
}
.skin-fx .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-fx .main-header .navbar .nav > li > a:hover,
.skin-fx .main-header .navbar .nav > li > a:active,
.skin-fx .main-header .navbar .nav > li > a:focus,
.skin-fx .main-header .navbar .nav .open > a,
.skin-fx .main-header .navbar .nav .open > a:hover,
.skin-fx .main-header .navbar .nav .open > a:focus,
.skin-fx .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-fx .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-fx .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-fx .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-fx .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-fx .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-fx .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-fx .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-fx .main-header .logo {
  background-color: #1e1e1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-fx .main-header .logo:hover {
  background-color: #444 !important;
}
.skin-fx .main-header li.user-header {
  background-color: #1e1e1e;
}
.skin-fx .content-header {
  background: transparent;
}
.skin-fx .wrapper,
.skin-fx .main-sidebar,
.skin-fx .left-side {
  background-color: #1e1e1e;
}
.skin-fx .user-panel > .info,
.skin-fx .user-panel > .info > a {
  color: #fff;
}
.skin-fx .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-fx .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-fx .sidebar-menu > li:hover > a,
.skin-fx .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #92342F;
  border-left-color: #1e1e1e;
}
.skin-fx .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #911211;
}
.skin-fx .sidebar a {
  color: #b8c7ce;
}
.skin-fx .sidebar a:hover {
  text-decoration: none;
}
.skin-fx .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-fx .treeview-menu > li.active > a,
.skin-fx .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-fx .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-fx .sidebar-form input[type="text"],
.skin-fx .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-fx .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-fx .sidebar-form input[type="text"]:focus,
.skin-fx .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-fx .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-fx .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-fx.layout-top-nav .main-header > .logo {
  background-color: #1e1e1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-fx.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.login-page,
.register-page,
.error-page {
  background: #1e1e1e;
}
.login-box-body-fx .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #1e1e1e;
}
img.centered-logo {
  display: block;
  margin: auto;
  max-width: 30em;
  max-height: 30em;
  height: auto;
  width: auto;
  padding: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.centered-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  color: #eeeeee;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p.error-code {
  color: #999999;
  padding: 2em;
}
.modal-content {
  word-wrap: break-word;
  box-shadow: 0 0 75px 0px #00000040;
}
.modal-sm {
  width: 30%;
}
a {
  color: red;
}
